/* have the comp name as prefix for css classes */
.subscription .subscription-info {
  color: green;
  background-color: rgb(95, 95, 64);
  border: solid 3px green;
  padding: 20px;
  border-radius: 10px;
}
